.box1{
    background-color: red;
    padding: 24px;
    margin: 24px;
    /* display: inline-block; */
    box-sizing: border-box;
    width: 100%;
}
.boxes{
    border:  1px solid red;
    width: 30%;
    height: 300px;
    display: inline-block;  
    /* Margin */
    margin: 24px;/* All Side */
    margin: 0px 24px 0px 24px; /* top right bottom left */
    margin: 0px 24px; /* top right bottom left */
    margin: 12px 50px 24px; /* top leftright bottom */
    margin-top: 8px;
    margin-left: 0;
    margin-right: 12px;
    margin-bottom: 35px;
    padding: 24px;
    
    box-sizing: border-box;
}

.parent{
    border: 2px solid blue;
    width: 600px;
}


/* Excercise.html Begins  */
.box{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 10px;
    padding: 10px;
    color: white;
}

.box2{
    border: 5px solid ;
}
.box-inl{
    display: inline-block;
}
.box3{
    border: 5px solid rgb(52, 50, 50) ;
}
.box4{
    border: 5px dashed rgb(52, 50, 50);
}
.box5{
    border: 5px dotted rgb(52, 50, 50);
}
.box6{
    border-top:5px solid blue;
    border-right: 5px solid gray;
    border-bottom: 5px solid yellow;
    border-left: 5px solid green;
    box-shadow: 0 0 0 8px violet;
}

/* Excercise.html Ends  */


/* Exercise2.html begins */
.box11,
.box22,
.box33{
    width: 500px;
    display: inline-block;
    box-sizing: border-box;
}
.box12, 
.box13,
.box21, 
.box23,
.box31,
.box32{
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
}
.box11{
    background-color: rgb(253, 91, 105);
}
.box12{
    background-color: rgb(30, 52, 30);
}
.box13{
    background-color: violet;
}
.box21{
    background-color: skyblue;
}
.box22{
    background-color: lightgreen;
}
.box23{
    background-color: green;
}
.box31{
    background-color: yellow;
}
.box32{
    background-color: rgb(194, 164, 42);
}
.box33{
    background-color: red;
}
